
@font-face{
    font-family: BookQuest;
    src: url(../fonts/NotoSansJP-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: BookQuest;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

/* ! Hide Number field arrows */
::-webkit-inner-spin-button {
    display: none;
}

.container{
    width: 100%;
    height: auto;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.container .box{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

.action-button{
    cursor: pointer;
    width: max-content;
    margin: 5px 0px;
    padding: 5px 12px;
    color: #fff;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.blue{
    background-color: rgb(49, 97, 255);
}

.blue:hover{
    background-color: rgb(26, 97, 230);
}

.red{
    background-color: rgb(255, 63, 63);
}

.red:hover{
    background-color: rgb(255, 32, 32);
}

.black{
    border: 1px solid black;
    background-color: #000;
}

.black:hover{
    color: #000;
    background-color: rgba(178, 0, 248, 0);
}

.orange{
    background-color: rgb(255, 178, 46);
}

.orange:hover{
    background-color: rgb(255, 174, 33)
}

.navbar{
    width: 100%;
}

.navbar .menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    background-color: #323232;
}

.navbar .menu-bar .logo{
    font-size: 25px;
    margin: 5px;
}

.navbar .menu-bar .menu-links ul{
    display: flex;
    margin-right: 10px;
}

.navbar .menu-bar .menu-links ul li{
    list-style: none;
    margin: 5px;
    font-size: 17px;
}

.navbar .menu-bar .link:hover{
    color: rgb(255, 196, 48);
}

.navbar .menu-bar .menu-links .profile {
    display: none;
    position: absolute;
    top: 45px;
    right: 0px;
    border: 2px solid rgb(131, 131, 131);
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    padding: 5px 2px;
    z-index: 1;
}

.navbar .menu-bar .menu-links .profile-menu:hover .profile {
    display: block;
}

.navbar .menu-bar .menu-links .profile li {
    margin: 5px 0px;
    padding: 2px 5px;
    font-size: 15px;
}

.navbar .menu-bar .menu-links .profile li:hover {
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}

.navbar .menu-bar .menu-links .profile .link {
    padding: 0px 5px;
    color: #000;
}

.navbar .search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.navbar .search-bar .navbar-form{
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid rgb(77, 77, 77);
}

.navbar .search-bar .navbar-form input,.navbar .search-bar .navbar-form select{
    width: max-content;
    background: none;
    outline: none;
    border: none;
    border-right: 2px solid rgb(77, 77, 77) ;
    padding: 8px 5px;
    font-size: 15px;
}

.navbar .search-bar .navbar-form button{
    font-size: 15px;
    border: none;
    background: none;
    padding: 8px 8px;
}

.navbar .search-bar .navbar-form button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    .navbar .menu-bar .logo{
        font-size: 20px;
    }

    .navbar .menu-bar .links ul li{
        font-size: 15px;
    }

    .navbar .search-bar .navbar-form input{
        font-size: 14px;
    }

} 

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    background-color: var(--footer-background);
    color: var(--primary-color);
    padding: 10px;
}

.footer-link{
    margin: 20px;
}

.footer h1{
    font-size: 35px;
}

.footer-link ul{
    display: flex;
}

.footer-link ul li{
    list-style: none;
    margin: 0px 10px;
}

.home-bg .home{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/bg-img3.jpg');
    background-attachment: fixed;
    background-color: black;
    opacity: 0.9;
}

.home-bg .cover{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.home-bg .home-text{
    position: absolute;
    top: 25vh;
    left: 100px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 620px) {
    .home-bg .home-text{
        top: 20vh;
        left: 20px;
        font-size: 27px;
    }
}

@media only screen and (max-width: 375px){
    .home-bg .home-text{
        top: 30vh;
        left: 20px;
        font-size: 27px;
    }
}

/* ! Home Card section 1 */
.container .card-info{
    width: 300px;
    height: 100px;
    background-color: #fff7c8;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    color: #000;
}

.container .card-info img{
    width: 70px;
    height: 70px;
}

.container .card-info .card-info-text{
    margin-left: 5px;
    font-size: 15px;
}

/* ! Vertical Card */
.book-card-home{
    cursor: pointer;
    width: 200px;
    height: 260px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
    transition: 0.5s;
}

.book-card-home:hover{
    background-color: rgb(220, 220, 220);
}

.book-card-home img{
    width: 70%;
    height: 70%;
    border-radius: 3px;
}

.book-card-home .action-button{
    margin-top: 10px;
}

@media only screen and (max-width: 620px) {
    
    .container{
        flex-direction: column;
    }
}

/* ! Horizontal Card */
.book-card{
    cursor: pointer;
    width: 750px;
    height: auto;
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    font-size: 15px;
    background-color: rgba(226, 226, 226, 0.495);           
}

@media screen and (max-width:768px){
    
    .book-card{
        width: 700px;
    }
    
}

.book-card .book-image{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid rgb(255, 255, 255);
}

.book-card .book-image img{
    width: 120px;
    height: 160px;
    margin: 10px;
    border-radius: 3px;
}

.book-card .book-info{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.book-card .book-info h2{
    font-size: 19px;
}

.book-card .book-info span{
    font-size: 16px;
    font-weight: 600;
}

.book-card .book-info .author,.book-card .book-info .publication,.book-card .book-info .available-status{
    margin: 3px 0px;
}

@media screen and (max-width:620px) {

    .book-card{
        width: 100%;
        height: auto;
    }

    .book-card .book-info h2{
        font-size: 16px;
    }

    .book-card .book-info span{
        font-size: 14px;
    }

    .book-card .book-image{
        width: 160px;       
    }

    .book-card .book-image img{
        width: 80px;
        height: 100px;
    }
    
}

/* ! detail book view */
.detail-book-image {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-book-image img {
    width: 180px;
    height: 250px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
}

.detail-book-info {
    width: 70%;
    height: 100%;
    font-size: 14px;
    padding: 0px 30px;
}

.detail-book-info h1{
    font-size: 30px;
}

.detail-book-info .book-rating .fa-solid, .detail-book-info .book-rating .fa-regular {
    font-size: 16px;
    color: orange;
}

.detail-book-info .black{
    background: none;
    color: black;
}

.detail-book-info .black:hover .fa-heart{
    color: red;
}

/* ! Table Style */
.table-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-container table{
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;
}

.table-container table td,.table-container table th{
    text-align: left;
    padding: 10px 8px;
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.table-container table th{
    background-color: black;
    color: #fff;
}

.table-container table tr:nth-child(even){
    background-color: rgb(230, 230, 230);
}

.table-container table tr:hover{
    background-color: rgb(230, 230, 230);
}

@media screen and (max-width:620px){

    .container .box{
        flex-direction: column;
    }

    .detail-book-image {
        width: 100%;
        margin: 20px 0px;
    }

    .detail-book-info {
        width: 100%;
    }
    
}

/* ! Form Style */
.form-field {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.form-field input,.form-field select,.form-field textarea{
    width: 100%;
    outline: none;
    padding: 5px 3px;
}

.form-field .error{
    font-size: 14px;
    color: red;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-group .form-field {
    width: 40%;
}

.admin-search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 8px 0px;
}

.message{
    position: absolute;
    top: 12vh;
    min-width: 150px;
}

.message .message-info{
    font-size: 15px;
}

.message .error{
    color: red;
    background-color: rgba(255, 155, 155, 0.397);
}

.message .success{
    color: rgb(10, 119, 0);
    background-color: rgba(147, 248, 133, 0.397);
}

#message-text{
    padding: 10px 15px;
}

#line{
    margin-top: 5px;
    height: 5px;
}

.message .success #line{
    background-color: rgb(10, 119, 0);
}

.message .error #line{
    background-color: red;
}