{% include "admin-header.html" with page_title="Book Transaction | BookQuest" %}
<meta name="viewport" content="width=1080px">
    <section>
        <div class="container">
            <div class="box" style="flex-direction: column;">
                <div class="admin-search-container">
                    <div class="form-field" style="width: 50%;">
                        <input type="text" name="" id="book_transaction_src" onkeyup="searchTable(this.value)"
                            placeholder="Enter Book Id to search">
                    </div>
                    <div>
                        <a href="issue-book" class="action-button blue link">Issue Book</a>
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Book ID</th>
                            <th>Student Id</th>
                            <th>Issue Date</th>
                            <th>Due Date</th>
                            <th>Return</th>
                            <th>Action</th>
                        </tr>

                        {% for transaction in book_transactions %}
                        <tr>
                            <td>{{transaction.id}}</td>
                            <td>{{transaction.book}}</td>
                            <td>{{transaction.user}}</td>
                            <td>{{transaction.issue_date}}</td>
                            <td>{{transaction.due_date}}</td>
                            <td>{{transaction.return_date}}</td>
                            <td>
                                {% if transaction.return_status == "Returned" %}
                                    ---
                                {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{transaction.id}}">
                                    <button class="action-button blue" type="submit">Return</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </section>

    <script>
        function searchTable(book_id) {
            let a = document.querySelectorAll("tr")

            for (let i = 1; i < a.length; i++) {

                let td = a[i].getElementsByTagName("td")[1]
                if (td.innerText.includes(book_id)) {
                    a[i].style.display = "";
                }
                else {
                    a[i].style.display = "none";
                }
            }
        }
    </script>

</body>
</html>