{% include "header.html" with page_title="My Favourites | BookQuest" %}

    <style>
        .container .box {
            background-color: rgb(255, 255, 255);
            flex-direction: column;
        }

        .action button {
            cursor: pointer;
            width: max-content;
            border: none;
            font-size: 20px;
            color: red;
            margin: 0px 10px;
            background-color: transparent;
        }

        .type {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        @media screen and (min-width:620px) {

            .title {
                width: 70%;
            }

            .container .box .book-card .book-info {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        @media screen and (max-width:620px) {

            .type {
                display: flex;
                flex-direction: row;
            }

            .type p:before {
                content: ": ";
            }

            .action button {
                margin: 0;
            }

        }
    </style>

    <section>
        <div class="container">
            <div class="box">

                {% for favourite in favourite_books %}
                <div class="book-card" onclick="window.location='/view-book/{{favourite.book.id}}'">
                    <div class="book-image">
                        <img src="{{favourite.book.image}}" alt="">
                    </div>
                    <div class="book-info">
                        <div class="title">
                            <h2>{{favourite.book.title}}</h2>
                            <p>{{favourite.book.author}}</p>
                        </div>
                        <div class="type">
                            <h4>Type</h4>
                            <p>{{favourite.book.type}}</p>
                        </div>
                        <div class="action">
                            <form action="/removefavourite" >
                                <input type="hidden" name="book_id" value="{{favourite.book.id}}">
                                <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
</body>
</html>